@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  .container{
    text-align: center;
    position: relative;
  }
  .container1, .row {
    text-align: center;
    
  }
  .centered{
      position: absolute;
      top: 14%;
       left: 27%;
      transform: translate(-50% -50%);
      color: white;
      font-size: xx-large;
      text-align: center;
  }
  #h3{
      font-size: small;
  }
  #cotainer2{
    position: relative;
    text-align: center;
  }
  .center{
    position: absolute;
    top: 20%;
    /* left: 50%; */
    transform: translate(-50% -50%);
    color: white;
    font-size: xx-large;
    text-align: center;
  }
  .images{
    height: 300px;
    width: 300px;
  }
  #p1, #p2, #p3{
    display: none;
  }
  #jim, #pyramid, #ontario, #black, #day, #press, #logo, #giraffe{
    display: none;
  }
  
  #contact{
    background-image: url('./c_image.jpg');
    transform: translate(-50% -50%);
    color: black;
    font-size: large;
    text-align: center;
    /* background: rgb(0, 0, 0); */
    /* background: rgba(0, 0, 0, 0.5);  */
 }
.content{
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
 }

 